@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.profileContainer {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -60px;
  left: 30px;
  overflow: hidden;
}

.profilePick {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topMargin {
  margin-top: 3.5rem;
}
