@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*ASIDE*/
#aside img {
  width: 70px;
}
#aside a {
  text-decoration: none;
  color: gray;
}
#aside a:hover {
  text-decoration: underline;
  color: rgb(100, 183, 250);
}
.addBtn {
  background-color: transparent;
  border-radius: 25px;
  border: solid 1px gray;
}
.addBtn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.showBtn {
  border: solid 1px transparent;
  background-color: transparent;
  width: 100%;
}
.showBtn:hover {
  background-color: rgb(68, 68, 68);
  color: white;
  border: 1px solid transparent;
}
/*FOOTER*/
#footer {
  color: gray;
  font-size: 13px;
  font-weight: 700;
  line-height: 2.5em;
}
.lineheight {
  line-height: 1.8em;
}
.fotLink {
  font-size: 13px;
  display: block;
  text-align: left;
  text-decoration: none;
  color: gray;
}
.fotLink:hover {
  text-decoration: underline;
  color: rgb(100, 183, 250);
}
.fotLinkIcon {
  font-size: 15px;
}
.priDrop {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.langDrop {
  color: gray;
  font-size: 13px;
  border: solid 1px;
  /*width: 100%;*/
}
#footer i {
  font-size: 20px;
}
#footer p {
  margin: 0;
}
